---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A short bio about myself and what I'm doing with my free time."
	pubDate={new Date('February 27, 2024')}
	heroImage="./profile-pic.jpg"
>
	<p>
		Hi, my name is Cameron Brown. I'm a Software Engineer at Fidelity Investments. I graduated
		with a Bachelor's Degree in Computer Science in April 2022 and have been working at Fidelity
		as a Software Engineer ever since. In my two years as a professional developer, I have mostly
		worked as a front-end developer developing business applications using Angular and TypeScript.
	</p>
	<p>
		I live in Salt Lake City, Utah. Outside of work, I enjoy watching soccer and football. 
		My favorite teams are Real Salt Lake and Tottenham Hotspur. I also enjoy spending time with my
		wife and dog, playing sports, reading, and playing video games.
	</p>
</Layout>
