---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import memojiMacbook from '../assets/memoji-macbook.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="grid h-full md:grid-cols-2 text-center items-center">
				<div>
					<p>Hey 👋, I'm</p>
					<h1>Cameron Brown</h1>
				</div>
				<Image src={memojiMacbook} alt="Cameron's Memoji using a MacBook" loading={"eager"} />
			</div>
		</main>
		<Footer />
	</body>
</html>
