---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="">
			<div class="grid h-full md:grid-cols-2 sm:text-center md:text-left items-center">
				<h1>Hey 👋, I'm Cameron Brown</h1>
				<img src="/memoji-macbook.png">
			</div>
		</main>
		<Footer />
	</body>
</html>
